<!-- templates/registration/register.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>School finder gestion</title>
</head>
<body>
    <header>
        <h1>Gestion des écoles</h1>
        <nav>
            <a href="#">Accueil D'inscription</a> |

        </nav>
    </header>
    <hr>

  <h2>Se connecter</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Se connecter</button>
  </form>


<hr>
<footer>
    <p>&copy; 2025 Gestion des écoles</p>
</footer>
</body>
</html

